
body{
  background-color: whitesmoke;
}

    .container{
      .row{
        .navbar{
          background-color: white;
          width: 100%;
          .navbar-brand{
            img{
              width: 140px;
              height: 30px;
            }
          }
          ul li a{
            color: black;
          }
          ab{

          }
          .gg{
            width: 25px;
            height: 25px;
            margin-left: 200px;
          }
        }
      }
    }

